@media (min-width: 1200px) {
  .modal-app, .overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
  }
  
  .overlay{
    background: rgba(49,49,49,.8);
  }
  
  .modal-content {
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: 1.4;
      background: #f1f1f1;
      padding: 14px 28px;
      border-radius: 20px;
      width: 700px;
      display: flex;
      flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .modal-app, .overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
  }
  
  .overlay{
    background: rgba(49,49,49,.8);
  }
  
  .modal-content {
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: 1.4;
      background: #f1f1f1;
      padding: 14px 28px;
      border-radius: 20px;
      width: 400px;
      display: flex;
      flex-direction: column;
  }
}

@media (max-width: 767px){
  .modal-app, .overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
  }
  
  .overlay{
    background: rgba(49,49,49,.8);
  }
  
  .modal-content {
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: 1.4;
      background: #f1f1f1;
      padding: 14px 28px;
      border-radius: 20px;
      width: 300px;
      display: flex;
      flex-direction: column;
  }
}
