body.active-modal {
  overflow-y: hidden;
}

.descriptiom-wrapper {
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 800px;
}

.img-car {
  width: 500px;
  height: auto;
}

.description-inner{
  width: auto;
  padding: 20px;
}

.add-item-characters{
  font-weight: 300;
  font-size: 15px;
}

.add-item-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 50px;
}

.book-button{
  width: 150px;
  height: 30px;
  border-radius: 50px;
  border: none;
  background-color: #0062bd;
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.add-item-paramatres{
  font-weight: 300;
  font-size: 20px;
}
